apiVersion: agents.kruise.io/v1alpha1
kind: SandboxSet
metadata:
  name: {{TEMPLATE_NAME}}
  namespace: default
spec:
  runtimes:
    - name: agent-runtime
  replicas: {{REPLICAS}}
  template:
    metadata:
      labels:
        alibabacloud.com/acs: "true"
        alibabacloud.com/compute-class: agent-sandbox
        alibabacloud.com/compute-qos: default
    spec:
      automountServiceAccountToken: false
      containers:
        - name: sandbox
          image: {{IMAGE}}
          imagePullPolicy: IfNotPresent
          resources:
            requests:
              cpu: "1"
              memory: 2Gi
              ephemeral-storage: 10Gi
            limits:
              cpu: "2"
              memory: 4Gi
      terminationGracePeriodSeconds: 30
